:root {
  --primary-color: #aa2b33;
  --dark-color: #24141c;
  --light-color: #f4f4f4;
  --second-color: #cc6c74;
  --third-color: #b2aaab;
  --yellow-color: rgb(207, 207, 25);
}

.artistDetails {
  letter-spacing: 1.5px;
  text-align: left;
  font-weight: bolder !important;
  color: var(--dark-color);
}

.artistDetails h6 {
  display: flex;
  width: 100%;
  margin-top: 5%;
  border-bottom: 1px solid #24141c;
  margin: 2rem 0;
}

.infoBit {
  display: flex;
}

.userInfo {
  color: var(--primary-color);
  text-align: right;
  margin-left: 2%;
}

.cardButtons {
  padding: 0.1rem 0;
}

.projects {
  background: antiquewhite;
  color: var(--primary-color);
  width: 350px;
}

.cardButtons button {
  background: red;
  color: rgb(241, 241, 44);
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid white;
}

#artistCard {
  border: 1px dotted var(--primary-color);
  font-weight: bolder;
  color: rgb(32, 29, 29);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

#artistName {
  border: 1px dotted var(--primary-color);
  border-radius: 7px;
  padding: 5px;
  font-weight: bolder;
  color: var(--primary-color);
  margin: 1rem;
}

.cardButtons button:hover {
  color: red;
  background: rgb(241, 241, 44);
  padding: 0.5rem;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--dark-color);
}

#commentsBox {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.2rem;
  display: none;
}

#commentsBox p {
  font-size: 10px;
  color: rgb(241, 241, 44);
}

#commentsShow {
  background: var(--dark-color);
  color: var(--light-color);
  display: inline-block;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
}

#commentsShow:hover {
  color: var(--yellow-color);
  cursor: pointer;
}

.comments {
  background-color: #1b1a1a;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid var(--second-color);
  color: rgb(223, 222, 222);
}

.comments h5 {
  font-weight: bolder;
  font-family: "MuseoModerno";
  text-decoration: underline;
}

.addcomprojBtn {
  background-color: green !important;
  padding: 0.5rem;
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid white;
}

.addcomprojBtn:hover {
  color: var(--yellow-color) !important;
  border-color: var(--yellow-color) !important;
}
