:root {
  --primary-color: #aa2b33;
  --dark-color: #24141c;
  --light-color: #f4f4f4;
  --second-color: #cc6c74;
  --third-color: #b2aaab;
  --yellow-color: rgb(207, 207, 25);
}

.artistDetails {
  letter-spacing: 1.5px;
  text-align: left;
}

.cardButtons {
  padding: 0.1rem;
}

.projects {
  background: antiquewhite;
  color: var(--primary-color);
  width: 350px;
}

.userInfo {
  color: var(--primary-color);
  text-align: right;
}

.cardButtons button {
  background: red;
  color: rgb(241, 241, 44);
  padding: 0.5rem;
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid white;
}

#artistCard {
  border: 1px dotted var(--primary-color);
  font-weight: bolder;
  color: rgb(32, 29, 29);
}

#artistName {
  border: 1px dotted var(--primary-color);
  border-radius: 7px;
  padding: 5px;
  font-weight: bolder;
  color: var(--primary-color);
  background: var(--dark-color);
}

.cardButtons button:hover {
  color: red;
  background: rgb(241, 241, 44);
  padding: 0.5rem;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--dark-color);
}

#commentsBox {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.2rem;
  display: none;
}

#commentsBox p {
  font-size: 10px;
  color: rgb(241, 241, 44);
}

#commentsShow {
  background: var(--dark-color);
  color: var(--light-color);
  display: inline-block;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
}

#commentsShow:hover {
  color: var(--yellow-color);
  cursor: pointer;
}
/* Popup container */
.popup {
  position: relative;
  visibility: visible;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.pupup .show {
  visibility: visible !important;
  display: inline-block;
}

.popupButton {
  margin-top: 10px !important;
}
