:root {
  --primary-color: #aa2b33;
  --dark-color: #24141c;
  --light-color: #f4f4f4;
  --second-color: #cc6c74;
  --third-color: #b2aaab;
  --yellow-color: rgb(207, 207, 25);
}

.artistForm {
  background: var(--dark-color);
  border: 1px dotted var(--primary-color);
  padding: 5rem;
  color: white !important;
}

.artistForm input {
  color: white !important;
}

.artistForm h1 {
  font-family: "MuseoModerno";
  color: var(--light-color);
}

.addBtn {
  background: var(--primary-color) !important;
  color: var(--light-color) !important;
  width: 100%;
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid black;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.addBtn:hover {
  background: var(--dark-color);
  color: var(--yellow-color) !important;

  width: 100%;

  border-radius: 3px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transform: scale(0.9);
}

.cancelBtn {
  background: var(--yellow-color);
  color: var(--light-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid black;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.logIcon a {
  color: var(--light-color);
}

.logIcon a:hover {
  color: var(--primary-color);
}

.loginForm form div input {
  background: var(--light-color) !important;
}
